.TrafficLigth{
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	border: 1px solid red;
	width: 88px;
}
.TrafficLigth .build {
	width: 64px;
	height: 64px;
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
	opacity: 0.2;
}
.TrafficLigth .build.active {
	opacity: 1;
}
.TrafficLigth .build.red{
	background-color: red;
}
.TrafficLigth .build.green{
	background-color: green;
}
.TrafficLigth .build.yellow{
	background-color: yellow;
}